<h1>Hello, {{.Name}}</h1>
<p>Your number: {{.Number}}</p>
<p>Your Email: {{.Email}}</p>


<script> 
const user = {
    "name": {{.Name}}
    "number": {{.Number}}
    "email": {{.Email}}
}
console.log(user)
</script>